.folia-comment {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: default;

  .folia-comment-icon {
  }

  .folia-comment-annotation {
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
    min-width: 250px;
    max-width: 350px;

    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    background: #ffffff;
    border: 1px solid #e2e8f0;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);
    border-radius: 14px 14px 14px 0px;

    .folia-comment-avatar {
      display: block;
      min-width: 20px;
      max-width: 20px;
      min-height: 20px;
      max-height: 20px;
    }

    .folia-comment-body {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border: solid 1px black;

      .folia-comment-header {
        border: solid 1px red;
        display: flex;
        gap: 10px;

        .folia-comment-header-user {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 90px;

          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          color: #334155;
        }
        .folia-comment-header-time {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;

          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #64748b;
        }
      }
      .folia-comment-text {
        border: solid 1px greenyellow;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #334155;
      }
    }
  }

  .folia-comment-container {
    position: absolute;
    left: 30px;
    width: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #f8fafc;
    border: 1px solid rgba(51, 65, 85, 0.15);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;

    .folia-comment-input-area {
      display: flex;
      flex-direction: row;
      padding: 16px;
      gap: 5px;
      width: calc(100% - 34px);

      .folia-comment-editor {
        width: 100%;
        padding: 5px;
        margin: 0;
        border: none;
        outline: none;
        resize: none;

        font-family: "Inter", sans-serif !important;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #334155;
        text-align: left;
        background: #f8fafc;
        /** border: 1px solid red; */

        &[placeholder]:empty:before {
          content: attr(placeholder);
          color: #94a3b8;
        }
      }
    }

    .folia-comment-footer {
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 8px 10px;
      width: calc(100% - 22px);
      /** border: 1px solid black; */
      background: #ffffff;

      & button {
        border: none;
        padding: 0;
        margin: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-color: transparent;
      }

      & button:active {
        transform: translate(1px, 1px);
      }

      .folia-comment-footer-left-block {
        display: flex;
        gap: 5px;

        .folia-comment-smile {
          cursor: not-allowed;
        }
        .folia-comment-mention {
          cursor: not-allowed;
        }
      }

      .folia-comment-submit {
        cursor: pointer;
      }
    }
  }
}
