@import url(../../viewer.css);

#viewerContainer {
  top: 0;
  background-color: #efefef;
}

.folia-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.1);*/
}

/*.folia-annotation {*/
/*  --rotate-angle: 30deg;*/
/*}*/

.folia-annotation {
  position: absolute;
  /*background-color: rgba(0, 0, 0, 0.05);*/
  /*border: solid 1px silver;*/
  cursor: grabbing;
  /*transform-origin: center left;*/
  /*transform: rotate(var(--rotate-angle));*/
  background-repeat: no-repeat;
  /*background-size: contain;*/
}

.folia-annotation.selected {
  /*background-color: rgba(0, 176, 255, 0.2);*/
  border: solid 1px silver;
  display: flex;
  align-items: center;
}

.corner-div {
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255);
  border: solid 1px black;
}

.corner-lt {
  left: -5px;
  top: -5px;
  cursor: nwse-resize;
}
.corner-rt {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.corner-lb {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.corner-rb {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
.corner-begin {
  left: -5px;
  cursor: move;
}
.corner-end {
  right: -5px;
  cursor: move;
}
