@import url(../../pdf_viewer.css);

@import url(./fonts/Cookie/font.css);
@import url(./fonts/CourierPrime/font.css);
@import url(./fonts/EagleLake/font.css);
@import url(./fonts/Inter/font.css);
@import url(./fonts/Lora/font.css);
@import url(./fonts/SourceSansPro/font.css);

@import url(../annotations-builders/annotation-builders.css);

body {
  padding: 0;
  margin: 0;
}

#viewerContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  overflow: auto;
}

.folia-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* border: solid 1px red; */
}

.folia-annotation {
  position: absolute;
  cursor: grabbing;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  --annotation-border-color: silver;
}

.folia-annotation.changed::after {
  content: "";
  position: absolute;
  display: inline-flex;
  background-color: #0a84ff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  top: -15px;
  right: -15px;
  z-index: 1;
}

.folia-annotation.selected:not(.conversation)::before {
  display: block;
  content: "";
  border: dashed 2px var(--annotation-border-color);
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;

  z-index: 1;
}

/* .folia-annotation.arrow.selected {
  display: flex;
  align-items: center;
} */
.folia-annotation.ArrowAnnotation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.folia-annotation .typewriter {
  resize: none;
  background-color: transparent;
  cursor: move;
  outline: none;
  border: none;
  overflow: hidden;
}

.typewriter:focus {
  background-color: white;
  cursor: text;
}

.image-stamp {
  width: 100%;
  height: 100%;
}

.image-stamp.loading {
  background-image: url("./loading-icon.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px !important;
  border: dashed 1px silver !important;
}

@import url("./comments/conversation.scss");

.corner-div {
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255);
  border: solid 1px black;
  z-index: 2;
}

.corner-lt {
  left: -6px;
  top: -6px;
  cursor: nwse-resize;
}
.corner-rt {
  right: -6px;
  top: -6px;
  cursor: nesw-resize;
}
.corner-lb {
  left: -6px;
  bottom: -6px;
  cursor: nesw-resize;
}
.corner-rb {
  right: -6px;
  bottom: -6px;
  cursor: nwse-resize;
}
.corner-begin {
  left: -6px;
  /* top: -2.5px; */
  cursor: move;
}
.corner-end {
  right: -6px;
  /* bottom: -2.5px; */
  cursor: move;
}
