.annotation-builder-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 196, 201, 0.761); */
}

.annotation-builder-container.text-box {
  cursor: text;
}

.annotation-builder-container.stamps-builder {
  cursor: crosshair;
}

.annotation-builder-container.eraser {
  /* --cursor-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='0' width='21' height='21' fill='red'/%3E%3Cmask id='path-1-inside-1_18525_201488' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.4142 1.41421C12.6332 0.633165 11.3668 0.633165 10.5858 1.41421L2.10051 9.89949C1.31946 10.6805 1.31946 11.9469 2.10051 12.7279L6.34315 16.9706H12L19.0711 9.89949C19.8521 9.11845 19.8521 7.85212 19.0711 7.07107L13.4142 1.41421Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.4142 1.41421C12.6332 0.633165 11.3668 0.633165 10.5858 1.41421L2.10051 9.89949C1.31946 10.6805 1.31946 11.9469 2.10051 12.7279L6.34315 16.9706H12L19.0711 9.89949C19.8521 9.11845 19.8521 7.85212 19.0711 7.07107L13.4142 1.41421Z' fill='white'/%3E%3Cpath d='M6.34315 16.9706L5.63604 17.6777L5.92893 17.9706L6.34315 17.9706L6.34315 16.9706ZM12 16.9706V17.9706H12.4142L12.7071 17.6777L12 16.9706ZM11.2929 2.12132C11.6834 1.7308 12.3166 1.7308 12.7071 2.12132L14.1213 0.707107C12.9497 -0.464466 11.0503 -0.464466 9.87868 0.707107L11.2929 2.12132ZM2.80761 10.6066L11.2929 2.12132L9.87868 0.707107L1.3934 9.19239L2.80761 10.6066ZM2.80761 12.0208C2.41709 11.6303 2.41709 10.9971 2.80761 10.6066L1.3934 9.19239C0.221825 10.364 0.221826 12.2635 1.3934 13.435L2.80761 12.0208ZM7.05025 16.2635L2.80761 12.0208L1.3934 13.435L5.63604 17.6777L7.05025 16.2635ZM12 15.9706H6.34315L6.34315 17.9706L12 17.9706V15.9706ZM18.364 9.19239L11.2929 16.2635L12.7071 17.6777L19.7782 10.6066L18.364 9.19239ZM18.364 7.77817C18.7545 8.1687 18.7545 8.80186 18.364 9.19239L19.7782 10.6066C20.9497 9.43503 20.9497 7.53553 19.7782 6.36396L18.364 7.77817ZM12.7071 2.12132L18.364 7.77817L19.7782 6.36396L14.1213 0.707107L12.7071 2.12132Z' fill='black' mask='url(%23path-1-inside-1_18525_201488)'/%3E%3Crect x='12' y='1.41406' width='10' height='5' transform='rotate(45 12 1.41406)' fill='black'/%3E%3Cellipse opacity='0.25' cx='9.08594' cy='19.8994' rx='4.5' ry='1' fill='black'/%3E%3C/svg%3E%0A"); */
  --cursor-on-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_18525_201488' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.4142 1.41421C12.6332 0.633165 11.3668 0.633165 10.5858 1.41421L2.10051 9.89949C1.31946 10.6805 1.31946 11.9469 2.10051 12.7279L6.34315 16.9706H12L19.0711 9.89949C19.8521 9.11845 19.8521 7.85212 19.0711 7.07107L13.4142 1.41421Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.4142 1.41421C12.6332 0.633165 11.3668 0.633165 10.5858 1.41421L2.10051 9.89949C1.31946 10.6805 1.31946 11.9469 2.10051 12.7279L6.34315 16.9706H12L19.0711 9.89949C19.8521 9.11845 19.8521 7.85212 19.0711 7.07107L13.4142 1.41421Z' fill='white'/%3E%3Cpath d='M6.34315 16.9706L5.63604 17.6777L5.92893 17.9706L6.34315 17.9706L6.34315 16.9706ZM12 16.9706V17.9706H12.4142L12.7071 17.6777L12 16.9706ZM11.2929 2.12132C11.6834 1.7308 12.3166 1.7308 12.7071 2.12132L14.1213 0.707107C12.9497 -0.464466 11.0503 -0.464466 9.87868 0.707107L11.2929 2.12132ZM2.80761 10.6066L11.2929 2.12132L9.87868 0.707107L1.3934 9.19239L2.80761 10.6066ZM2.80761 12.0208C2.41709 11.6303 2.41709 10.9971 2.80761 10.6066L1.3934 9.19239C0.221825 10.364 0.221826 12.2635 1.3934 13.435L2.80761 12.0208ZM7.05025 16.2635L2.80761 12.0208L1.3934 13.435L5.63604 17.6777L7.05025 16.2635ZM12 15.9706H6.34315L6.34315 17.9706L12 17.9706V15.9706ZM18.364 9.19239L11.2929 16.2635L12.7071 17.6777L19.7782 10.6066L18.364 9.19239ZM18.364 7.77817C18.7545 8.1687 18.7545 8.80186 18.364 9.19239L19.7782 10.6066C20.9497 9.43503 20.9497 7.53553 19.7782 6.36396L18.364 7.77817ZM12.7071 2.12132L18.364 7.77817L19.7782 6.36396L14.1213 0.707107L12.7071 2.12132Z' fill='black' mask='url(%23path-1-inside-1_18525_201488)'/%3E%3Crect x='12' y='1.41406' width='10' height='5' transform='rotate(45 12 1.41406)' fill='black'/%3E%3Cellipse opacity='0.25' cx='9.08594' cy='19.8994' rx='4.5' ry='1' fill='black'/%3E%3C/svg%3E%0A");
  --cursor-off-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_18525_201488' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.4142 1.41421C12.6332 0.633165 11.3668 0.633165 10.5858 1.41421L2.10051 9.89949C1.31946 10.6805 1.31946 11.9469 2.10051 12.7279L6.34315 16.9706H12L19.0711 9.89949C19.8521 9.11845 19.8521 7.85212 19.0711 7.07107L13.4142 1.41421Z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.4142 1.41421C12.6332 0.633165 11.3668 0.633165 10.5858 1.41421L2.10051 9.89949C1.31946 10.6805 1.31946 11.9469 2.10051 12.7279L6.34315 16.9706H12L19.0711 9.89949C19.8521 9.11845 19.8521 7.85212 19.0711 7.07107L13.4142 1.41421Z' fill='white'/%3E%3Cpath d='M6.34315 16.9706L5.63604 17.6777L5.92893 17.9706L6.34315 17.9706L6.34315 16.9706ZM12 16.9706V17.9706H12.4142L12.7071 17.6777L12 16.9706ZM11.2929 2.12132C11.6834 1.7308 12.3166 1.7308 12.7071 2.12132L14.1213 0.707107C12.9497 -0.464466 11.0503 -0.464466 9.87868 0.707107L11.2929 2.12132ZM2.80761 10.6066L11.2929 2.12132L9.87868 0.707107L1.3934 9.19239L2.80761 10.6066ZM2.80761 12.0208C2.41709 11.6303 2.41709 10.9971 2.80761 10.6066L1.3934 9.19239C0.221825 10.364 0.221826 12.2635 1.3934 13.435L2.80761 12.0208ZM7.05025 16.2635L2.80761 12.0208L1.3934 13.435L5.63604 17.6777L7.05025 16.2635ZM12 15.9706H6.34315L6.34315 17.9706L12 17.9706V15.9706ZM18.364 9.19239L11.2929 16.2635L12.7071 17.6777L19.7782 10.6066L18.364 9.19239ZM18.364 7.77817C18.7545 8.1687 18.7545 8.80186 18.364 9.19239L19.7782 10.6066C20.9497 9.43503 20.9497 7.53553 19.7782 6.36396L18.364 7.77817ZM12.7071 2.12132L18.364 7.77817L19.7782 6.36396L14.1213 0.707107L12.7071 2.12132Z' fill='black' mask='url(%23path-1-inside-1_18525_201488)'/%3E%3Crect x='12' y='1.41406' width='10' height='5' transform='rotate(45 12 1.41406)' fill='black'/%3E%3C/svg%3E%0A");
}
.annotation-builder-container.eraser.off {
  cursor: var(--cursor-off-image), cell;
}
.annotation-builder-container.eraser.on {
  cursor: var(--cursor-on-image), cell;
}

.text-box-editor {
  position: absolute;
  margin: 0;
  outline: none;
  resize: none;
  line-height: 140%;
  --annotation-border-color: #2990ff;
  /* --annotation-placeholder-color: gray; */
}

.text-box-editor::before {
  display: block;
  content: "";
  border: solid 1px var(--annotation-border-color);
  position: absolute;
  left: -6px;
  top: -4px;
  right: -6px;
  bottom: -4px;
}

.text-box-editor:empty::after {
  content: attr(text-box-placeholder);
  /* color: var(--annotation-placeholder-color); */
  color: #0f172a;
  opacity: 0.5;
}
.high-lighted-anno {
  border: solid 1px #2990ff;
}

.annotation-builder-container.arrow-builder,
.annotation-builder-container.circle-builder,
.annotation-builder-container.square-builder {
  cursor: crosshair;
}
