.annotation-builder-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(255, 196, 201, 0.251); */
}

.annotation-builder-container.text-box {
  cursor: text;
}

.annotation-builder-container.stamps-builder {
  cursor: crosshair;
}

.text-box-editor {
  position: absolute;
  margin: 0;
  outline: none;
  resize: none;
  line-height: 140%;
  --annotation-border-color: #2990ff;
  /* --annotation-placeholder-color: gray; */
}

.text-box-editor::before {
  display: block;
  content: "";
  border: solid 1px var(--annotation-border-color);
  position: absolute;
  left: -6px;
  top: -4px;
  right: -6px;
  bottom: -4px;
}

.text-box-editor:empty::after {
  content: attr(text-box-placeholder);
  /* color: var(--annotation-placeholder-color); */
  color: #0f172a;
  opacity: 0.5;
}
.high-lighted-anno {
  border: solid 1px #2990ff;
}
